{{doc.message}}
<div class="container">
  <div class="page-header">
    <h1> Add Vocab</h1>
  </div>

  <div class="row">
    <form action="addVocab" method="post">
      Word: <input type="text" name="word"><br>
      Def: <textarea type="text" name="definition"></textarea><br>
      Example: <textarea type="text" name="example"></textarea><br>
      Category: <input type="text" name="category"><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="row">
    <br>
    <form class="" action="logout" method="get">
      <input type="submit" value="Logout">
    </form>
  </div>
</div>
