<div class="container">
  {{> ad}}
  <div class="page-header">
    <h1> <span><img src="http://placehold.it/50x50" alt="" /></span>  {{category_name}}</h1>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <ul class="list-group">
        {{#each rows}}
          <li class="list-group-item">
            <a class='category-list' href="/vocab/{{doc._id}}">{{doc.word}}</a>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="col-sm-4">
      {{> sidebar}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
        {{> ad}}
    </div>

  </div>



</div>
