<div class="row">
  <div class="col-sm-12">
    <h3 class="category-header">Categories</h3>
  </div>

  <div class="col-sm-12 categories-container">
    {{#each rows}}
      <a href="./category/{{doc.category}}">
        <div class="col-sm-4 text-center">
          <div class="col-md-12 category-block">
            <!-- <img class='img-responsive center-block' src="./img/{{doc.category}}.png" alt="" /> -->
            <h4>{{doc.category}}</h4>
            <p>{{doc.category_thai}}</p>
          </div>
        </div>
      </a>
    {{/each}}

    <a href="./category/All">
      <div class="col-sm-4 text-center">
        <div class="col-md-12 category-block">
          <img class='img-responsive center-block' src="http://placehold.it/100x100" alt="" />
          <h4>All</h4>
          <p>ทั้งหมด</p>
        </div>
      </div>
    </a>
  </div>
</div>
{{> ad}}
