<div class='container-fluid'>
	<div class='row main-footer' style='background: url(/img/stairs.gif)'>
		<div class='col col-xs-12 text-center'>
			<section class='footer-menu'>
	      <a href="http://facebook.com/godreamaction" target="_top"><small>facebook</small></a>
	      |
	      <a href="https://twitter.com/godreamaction" target="_top"><small>twitter</small></a>
	      |
	      <a href="https://www.youtube.com/c/Dreamactiongo" target="_top"><small>youtube</small></a>
	      |
	      <a href="http://dreamaction.co/aboutme/" target="_top"><small>about</small></a>
	      |
	      <a href="http://dreamaction.co/contact/" target="_top"><small>contact</small></a>
			</section>
			<section class='footer-logo'>
				<a href="/">
					<img src="./img/dalogo.png" alt="Dream Action Vocab" />
				</a>
			</section>
			<section class="copyright">
				<a href="/">
					DREAM ACTION
				</a>
				&copy; <script type="text/javascript">document.write(new Date().getFullYear());</script>
			</section>
		</div>
	</div>
</div>
