<div class="container">
  {{> ad}}

  <div class="page-header">
    <h1><i class="glyphicon glyphicon-search"></i> ผลลัพธ์จากคีย์เวิร์ด "{{keyword}}"</h1>
  </div>

  <div class="row">
    <div class="col col-sm-8">
      <ul class="list-group">
        {{#each rows}}
          <li class="list-group-item">
            <a class='category-list' href="./vocab/{{doc._id}}">{{doc.word}} <span class="label label-default">{{doc.category}}</span></a>
          </li>

          {{else}}

          <h3>ไม่พบคำศัพท์ในฐานข้อมูลจากคีย์เวิร์ด "{{keyword}}"</h3>
        {{/each}}
      </ul>
    </div>

    <div class="col col-sm-4">
      {{> sidebar}}
    </div>
  </div>
  <div class="row">
    <div class="col col-sm-12">
        {{> ad}}
    </div>
  </div>
</div>
