<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="{{title}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="keywords" content="architect, architecture, portfolio, portfolio design, resume, cover letter, พอร์ตฟอลิโอ, เรซูเม่, จดหมายนำ, สถาปนิก, สถาปัตย์, สถาปัตยกรรม, สมัครงาน, ภูมิสถาปนิก, สัมภาษณ์งาน, นักออกแบบ, designer">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/main.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/wordoftheday.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/navbar.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/footer.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/categories.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/category.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/featurepost.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/vocab.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/sidebar.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/search.css" media="screen" title="no title" charset="utf-8">


    <link rel="shortcut icon" href="favicons/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    {{> navbar}}

    <!-- Dynamic View -->
    {{> (view) }}

    <br>

    {{> footer}}

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '214316472233662',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://dreamaction.co/shared/ghost-url.min.js"></script>
    <script type="text/javascript">
      ghost.init({
        clientId: "ghost-frontend",
        clientSecret: "684eb704e880"
       });

      function onSuccess(data) {
        console.log(data);
        var $result = $('#blog-posts');
        $.each(data.posts, function (i, post) {
          $result.append(
            '<li>' + post.title + '</li>'
          );
        });
      }

      jQuery(document).ready(function () {
        $.get(
          ghost.url.api('posts', {limit: 3})
        ).done(onSuccess);
      });
      </script>
  </body>
</html>
