<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/wordoftheday.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/navbar.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/footer.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/categories.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/category.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/featurepost.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/vocab.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/css/sidebar.css" media="screen" title="no title" charset="utf-8">

  </head>
  <body>
    {{> navbar}}

    <!-- Dynamic View -->
    {{> (view) }}

    <br>

    {{> footer}}

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '214316472233662',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <script type="text/javascript" src="https://dreamaction.co/shared/ghost-url.min.js"></script>
    <script type="text/javascript">
      ghost.init({
        clientId: "ghost-frontend",
        clientSecret: "684eb704e880"
       });

      function onSuccess(data) {
        console.log(data);
        var $result = $('#blog-posts');
        $.each(data.posts, function (i, post) {
          $result.append(
            '<li>' + post.title + '</li>'
          );
        });
      }

      jQuery(document).ready(function () {
        $.get(
          ghost.url.api('posts', {limit: 3})
        ).done(onSuccess);
      });
      </script>
  </body>
</html>
