.vocab-container h1 {
  text-transform: uppercase;
  font-size: 40px;
}
.vocab-container {
  /*background-color: #EF660A;*/
  margin-top: 20px;
  color: black;
  padding: 20px;
  border: lightgray solid 10px;
}

.vocab-container hr {
  background-color: lightgray;
  height: 3px;
  width: 20%;
}

.vocab-container p {
  font-size: 20px;
  color: black;
}

.category-link, .category-link:hover {
  text-decoration: none;
}
